aiofiles==0.3.2
aiohttp==3.0.1
async-timeout==2.0.0
attrs==17.4.0
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.1.18
chardet==3.0.4
colorama==0.3.9
cssselect==1.0.3
fake-useragent==0.1.10
httptools==0.0.10
idna==2.6
idna-ssl==1.0.0
Jinja2==2.10
lxml==4.2.0
MarkupSafe==1.0
multidict==4.1.0
parse==1.8.2
pluggy==0.6.0
py==1.5.2
pyee==5.0.0
pyppeteer==0.0.14
pyquery==1.4.0
pytest==3.4.0
requests==2.18.4
requests-html==0.8.2
sanic==0.7.0
six==1.11.0
urllib3==1.22
w3lib==1.19.0
websockets==4.0.1
yarl==1.1.1
