<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RPTP</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <script src="https://use.fontawesome.com/1f50f4f83f.js"></script>

    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>


    <script>
        $(document).ready(function () {
            $(window).on('resize', function () {
                var mainContainer = $('#main-container');

                if ($(window).width() > 1024) {
                    mainContainer.addClass('container');
                    mainContainer.removeClass('container-fluid');
                }
                else {
                    mainContainer.addClass('container-fluid');
                    mainContainer.removeClass('container');
                }
            });

            $(window).trigger('resize');
        });

    </script>

    {% block custom_js %}
    {% endblock %}
</head>
<body>


<nav class="navbar navbar-toggleable-xl navbar-light bg-faded">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">RPTP</a>
    </div>

    {% if user %}
        <ul class="nav navbar-nav navbar-right ml-auto">
            <li><a href="https://vk.com/id{{ user.user_id }}"><span class="glyphicon glyphicon-log-in"></span>
                id{{ user.user_id }}</a></li>
        </ul>
    {% endif %}
</nav>

<div id="main-container" class="container mt-4">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>