<!DOCTYPE html>
<html>
<head>
    <title>RPTP</title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/base.css">

    {% block custom_css %}{% endblock %}

    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>
<div class="navbar solid-border primary-color primary-font">
    <ul>
        <li><a>RPTP</a></li>
    </ul>
</div>

<div class="container">
    {% block container %}{% endblock %}
</div>


</body>
</html>