{% extends "base.html" %}

{% block custom_css %}
    <style type="text/css">
        .center-text {
            text-align: center;
        }

        .big-font {
            font-size: 36px;
        }

        .login-btn {
            text-decoration: none;
            color: #231F20;
            padding: 9px 0;
            text-align: center;
            display: inline-block;
            width: 146px;
        }

        .login-btn:hover {
            background-color: #FFCAD4;
            cursor: pointer;
        }

    </style>
{% endblock custom_css %}

{% block container %}
    <div class="center-text">
        <p class="big-font">Welcome to RPTP</p>
        <p class="primary-font">RPTP is a service for watching random adult videos from VK.</p>
        <p class="primary-font">To start watching just login via VK.</p>
        <a class="login-btn primary-font primary-color solid-border" href="{{ auth_link }}">
            <i class="fab fa-vk"></i>
            Login
        </a>

    </div>

{% endblock container %}