{% extends "base.html" %}

{% block custom_css %}
    <style type="text/css">
        .center-text {
            text-align: center;
        }

        .big-font {
            font-size: 36px;
        }





        .center-form {
            justify-content: center;
        }

    </style>
{% endblock custom_css %}

{% block container %}
    <div class="center-text">
        <p class="big-font">Welcome to RPTP</p>
        <p class="primary-font">RPTP is a service for watching random adult videos from VK.</p>

        {% if auth_link %}
            <p class="primary-font">To start watching just login via VK.</p>
            <a class="link-btn primary-font primary-color solid-border" href="{{ auth_link }}">
                <i class="fab fa-vk"></i>
                Login
            </a>
        {% else %}
            <p class="big-font">Enter query</p>
            <form class="search-wrapper center-form " action="/videos">
                <input class="search-input primary-font solid-border"
                       type="text" name="query" value="{{ query|capitalize }}" required>
                <button class="search-btn  big-button primary-font primary-color solid-border">
                    <i class="fa fa-search"></i>
                    Search
                </button>
            </form>

            <p class="big-font">OR</p>
            <a class="link-btn big-button primary-font solid-border primary-color">
                <i class="fa fa-sync"></i> Pick random
            </a>
        {% endif %}

    </div>

{% endblock container %}