{% extends "base.html" %}

{% block custom_css %}
    <style type="text/css">
        .video-item {
            max-width: 297px;
        }

        .video-container > div {
            margin: 5px;
        }

        .video-controls {
            padding: 10px;
            background-color: white;
            float: right;
        }

        .video-buttons > * {
            margin: 0 5px;
        }


    </style>
{% endblock %}

{% block container %}
    <div class="form left-right-container">
        <form class="search-wrapper">
            <input class="search-input primary-font solid-border"
                   type="text" name="query" value="{{ query|capitalize }}" required>
            <button class="search-btn big-button primary-font primary-color solid-border">
                <i class="fa fa-search"></i>
                Search
            </button>
        </form>

        <button class="refresh-btn big-button primary-font primary-color solid-border">
            <i class="fa fa-sync"></i>
            Pick random
        </button>
    </div>
    <div class="video-container">
        {% for video in videos %}
            <div class="video-item solid-border">
                <a href="{{ video.url }}">
                    <img class="link-image" src="{{ video.preview }}">
                </a>

                <div class="video-controls ">
                    <div class="video-buttons">
                        <a class="vk-btn btn-small small-font primary-color solid-border" href="{{ video.url }}">
                            <i class="fab fa-vk"></i>
                            Full
                        </a>
                        <a class="btn-small small-font primary-color solid-border" href="{{ video.mobile_url }}">
                            <i class="fa fa-mobile-alt"></i>
                            Mobile
                        </a>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}