{% extends "base.html" %}

{% block custom_js %}
    <script>
        $('document').ready(function () {
            $('.query-input').change(function () {
                $('.search-button').val(0);
            });

            $('.up-button').click(function () {
                window.scrollTo(0, 0);
            });

            $('.truncated').hide()
                .after(' <i class="fa fa-ellipsis-h" aria-hidden="true"></i>')
                .next().on('click', function () {
                $(this).prev().toggle();
            });
        });
    </script>
{% endblock %}

{% block content %}

    <div class="card text-center">
        {% if token %}
            <div class="card-block">
                <form method="get">
                    <div class="input-group">
                        <input type="text" class="query-input form-control" placeholder="Search for..."
                               value="{{ query }}" name="query">
                        <span class="input-group-btn">
                    <button name="refresh" value="1"
                            class="btn btn-secondary" type="submit">
                        <i class="fa fa-refresh" aria-hidden="true"></i> Refresh actress
                    </button>
                </span>
                        <span class="input-group-btn">
                    <button name="search" value="{{ offset + DEFAULT_OFFSET }}"
                            class="search-button btn btn-secondary"
                            type="submit">
                       <i class="fa fa-video-camera" aria-hidden="true"></i> More videos
                    </button>
                </span>
                    </div>
                </form>

                <p class="card-text mt-2">
                    Shown from {{ offset }} to
                    {% if offset + DEFAULT_OFFSET > count %}
                        {{ count }}
                    {% else %}
                        {{ offset + DEFAULT_OFFSET }}
                    {% endif %}
                    out of {{ count }}.
                </p>

                <div class="card-columns mt-3">
                    {% for video in videos %}
                        <div class="card text-left">
                            <a href="https://m.vk.com/video{{ video.owner_id }}_{{ video.id }}">
                                <img style="width: 100%" class="card-img-top" src="{{ video.photo_320 }}">
                            </a>
                            <div class="card-block">
                                <p class="card-text">
                                    {{ video.title|truncate_left }}
                                    {% if video.title|length > 50 %}
                                        <span class="truncated">{{ video.title|truncate_right }}</span>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="card-footer">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                <span class="badge badge-pill badge-default">{{ video.duration|format_seconds }}</span>
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                <span class="badge badge-pill badge-default">{{ video.views }}</span>

                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
            <div class="card-footer">
                <button type="button" class="up-button btn btn-secondary btn-lg">
                    <i class="fa fa-arrow-up" aria-hidden="true"></i>
                </button>
            </div>
        {% else %}
            <div class="card-block">
                <p class="card-text">Please log in to VK.</p>
                <a href="{{ auth_url }}" class="btn btn-primary btn-lg">
                    <i class="fa fa-vk" aria-hidden="true"></i>
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}