{% extends "base.html" %}

{% load str_tags %}
{% load time_tags %}

{% block custom_js %}
    <script>
        $('document').ready(function () {
            $('.query-input').change(function () {
                $('.search-btn').val(0);
            });
            $('.up-button').click(function () {
                window.scrollTo(0, 0);
            });
            $('.truncated').hide()
                .after(' <i class="fa fa-ellipsis-h" aria-hidden="true"></i>')
                .next().on('click', function () {
                $(this).prev().toggle();
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="card text-center">
        <div class="card-block">

            {# Query input #}
            <form method="get">
                <div class="input-group">
                    <input type="text" class="query-input form-control" placeholder="Search for..."
                           value="{{ query }}" name="query">

                    <span class="input-group-btn">
                        <button name="offset" value="{{ offset }}"
                                class="search-btn btn btn-secondary"
                                type="submit">
                           <i class="fa fa-video-camera" aria-hidden="true"></i> Search videos
                        </button>
                    </span>

                    <a href="{% url 'client:video:search' %}" class="btn btn-secondary"
                       style="margin-left: 10px">
                        <i class="fa fa-refresh" aria-hidden="true"></i> Reset actress
                    </a>

                </div>
            </form>


            {# Videos #}
            <div class="card-columns mt-3">
                {% for video in videos %}
                    <div class="card text-left">
                        <a href="{{ video.url }}">
                            <img style="width: 100%" class="card-img-top" src="{{ video.preview_ }}">
                        </a>
                        <div class="card-block">
                            <p class="card-text">
                                {{ video.title|truncate_left }}
                                {% if video.title|length > 50 %}
                                    <span class="truncated">{{ video.title|truncate_right }}</span>
                                {% endif %}
                            </p>
                        </div>
                        <div class="card-footer">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            <span class="badge badge-pill badge-default">{{ video.duration|format_seconds }}</span>
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            <span class="badge badge-pill badge-default">{{ video.views }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>

        {# Controls #}
        <div class="card-footer">
            <form method="get">
                <div class="btn-group btn-group-lg">
                    <input hidden type="text" class="query-input form-control" placeholder="Search for..."
                           value="{{ query }}" name="query">

                    <button type="button" class="up-button btn btn-secondary">
                        <i class="fa fa-arrow-up" aria-hidden="true"></i>
                    </button>

                    <button name="offset" value="{{ offset }}"
                            class="search-btn btn btn-secondary"
                            type="submit">
                        <i class="fa fa-video-camera" aria-hidden="true"></i>
                    </button>

                    <a href="{% url 'client:video:search' %}" class="btn btn-secondary">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                    </a>

                </div>
            </form>

        </div>
    </div>
{% endblock %}