{% extends "base.html" %}

{% block custom_css %}
    <style type="text/css">
        .video-item {
            background-color: white;

            max-width: 297px;
        }

        .video-container > div {
            margin: 5px;
        }

        .video-controls {
            padding: 10px;
            float: right;
        }

        .video-buttons > * {
            margin: 0 5px;
        }

        .floating-btn {
            position: fixed;
            bottom: 20px;
            right: 20px;
            width: 70px;
            height: 70px;
            border-radius: 50px;
            text-align: center;
        }

        .floating-fa {
            margin-top: 22px;
        }

        .spacer {
            height: 100px;
        }

        .small-spacer {
            height: 10px;
        }

        .floating-btn:hover {
            background-color: #FFCAD4;
            cursor: pointer;
        }

    </style>
{% endblock %}

{% block custom_jss %}
    <script>
        $('.pick-random').click(function (e) {
            e.preventDefault();

            $.ajax({
                url: '/api/pick_random'
            })
                .done(function (data) {
                    window.location = '/videos?query=' + data.name;
                });

        })
    </script>
{% endblock %}

{% block container %}
    <div class="form left-right-container">
        <form class="search-wrapper">
            <input class="search-input primary-font solid-border"
                   type="text" name="query" value="{{ query|capitalize }}" required>
            <button class="search-btn big-button primary-font primary-color solid-border">
                <i class="fa fa-search"></i>
                Search
            </button>
        </form>

        <a class="pick-random link-btn big-button primary-font solid-border primary-color">
            <i class="fa fa-sync"></i> Pick random
        </a>
    </div>
    {% if videos %}
        <div class="video-container">
            {% for video in videos %}
                <div class="video-item solid-border">
                    <a href="{{ video.url }}">
                        <img class="link-image" src="{{ video.preview }}">
                    </a>

                    <div class="video-controls ">
                        <div class="video-buttons">
                            <a class="vk-btn btn-small small-font primary-color solid-border" href="{{ video.url }}">
                                <i class="fab fa-vk"></i>
                                Full
                            </a>
                            <a class="btn-small small-font primary-color solid-border" href="{{ video.mobile_url }}">
                                <i class="fa fa-mobile-alt"></i>
                                Mobile
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    {% else %}
        <div class="small-spacer"></div>
        <div class="primary-font center-text">
            No videos found.
        </div>
    {% endif %}
    <div class="spacer"></div>
    <div>
        <a class="pick-random floating-btn primary-color solid-border  primary-font">
            <i class="fa fa-sync floating-fa"></i>
        </a>
    </div>
{% endblock %}