{% extends "base.html" %}

{% block custom_js %}
    <script>
        $('document').ready(function () {
            $('.query-input').change(function () {
                $('.search-button').val(0);
            });
        });
    </script>
{% endblock %}

{% block content %}

    <div class="card">
        {% if token %}
            <div class="card-block">
                <form method="get">
                    <div class="input-group input-group-lg">
                        <input type="text" class="query-input form-control" placeholder="Search for..."
                               value="{{ query }}" name="query">
                        <span class="input-group-btn">
                    <button name="refresh" value="1" class="btn btn-secondary" type="submit">
                        <span class="octicon octicon-sync"></span>
                    </button>
                </span>
                        <span class="input-group-btn">
                    <button name="search" value="{{ offset + DEFAULT_OFFSET }}"
                            class="search-button btn btn-secondary"
                            type="submit">
                        <span class="octicon octicon-search"></span>
                    </button>
                </span>
                    </div>
                </form>

                {#            <p class="card-text mt-2">#}
                {#                Search results: found {{ count }} / shown {{ videos | length }} / offset {{ offset }}#}
                {#            </p>#}

                <div class="card-columns mt-3">
                    {% for video in videos %}
                        <div class="card text-left">
                            <a href="https://vk.com/video{{ video.owner_id }}_{{ video.id }}">
                                <img style="width: 100%" class="card-img-top" src="{{ video.photo_320 }}">
                            </a>
                            <div class="card-block">
                                <p class="card-text">{{ video.title }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        {% else %}
            <div class="card-block">
                <p class="card-text">Please log in to VK.</p>
            </div>
        {% endif %}
    </div>
{% endblock %}